#svg-container svg {
  width: 100%;
  height: auto;
}
svg {
  width: 30%;
  height: auto;
  margin: 0px;
}
#modalbody {
  padding: 0px;
}
#form {
  display: block;
  margin: 10px;
}
#email {
  padding: 10px;
}
#password {
  padding: 10px;
  margin-bottom: 0px;
}
#btn-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login {
  width: 40%;
  justify-content: center;
}
