#svg-container svg {
  width: 100%;
  height: auto;
}
svg {
  width: 30%;
  height: auto;
  margin: 0px;
}
#modalbody{
  padding: 0px;
}
#form{
  margin:10px;
}
#email{
  padding:10px;
}
#password{
  padding:10px;
}