@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
  font-size: large;
}
.container-fluid{
    margin-left: 5px;
    display: flex;
    justify-content: flex-end;
}
a {
  margin: 10px;
}
 nav img{
    height: 100px;
 }