@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
  font-size: large;
}
nav#navBar{
    background-color: aqua;
}
.container-fluid{
    margin-left: 5px;
    display: flex;
    justify-content: flex-end;
}
a {
  margin: 5px;
}
 nav img{
  padding-left: 20px;
    height: 80px;
 }
 #login{
  display: flex;
  justify-content: right;
  text-align: center;
 }